.footer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: #536b91;

  .left{
    padding-left: 50px;
  }

  .right{
    padding-right: 50px;
    .icons{
      height: 24px;
      width: 24px;
      margin: 5px;
    }
  }
}