.navbar{
  background-color: transparent;
  color: white;
  font-weight: 500;
  display: flex;
  height: 90px;
  align-items: center;
  padding: 10px;
  margin-right: 20px;

  .logo{
    flex: 1;
  }

  .leftnav{
    flex: 2;
    
    ul{ 
      display: flex;
      gap: 25px;
      
      li{
      list-style: none;
    }}
  }

  .rightnav{
    flex: 3;

    ul{
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding-right: 10px;

      li{
        list-style: none;
      }
    }
  }
}